@model findbook.Domain.Entities.PwModify

@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

@*设置navigator中的标签为active*@
<script type="text/javascript">
    $(function () {
        $("#PassWord").addClass("active")
    })     
</script>

<div class="tab-pane active" id="tab4">
	<div class="post_qiugou">
		<div class="post_qiugou_inner">
			@using (Html.BeginForm("PassWord", "Info", FormMethod.Post)) {
				<table>
					<tbody>
						<tr>
                            <td class="c13">修改密码</td>
                            <td>
                                
                            </td>
                        </tr>
						<tr>
                            <td class="c20">当前密码：</td>
                            <td>
                                @Html.PasswordFor(m => m.forePw)
                            </td>
                        </tr>
						<tr>
                            <td class="c20">新密码：</td>
                            <td>
                                @Html.PasswordFor(m => m.newPw)
                            </td>
                        </tr>
						<tr>
                            <td class="c20">确认密码：</td>
                            <td>
                                @Html.PasswordFor(m => m.newPw)
                            </td>
                        </tr>
						<tr>
                            <td class="c20">
                                <input type="submit" value="保存" />
                            </td>
                            <td class="c22">
                                <a href="#">取消修改</a>
                            </td>
                        </tr>
					</tbody>
				</table>	
            }
		</div>
	</div>
</div>
