@model findbook.Domain.Entities.PwModify

@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}
<link href="../../Content/jquery.validity.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/validity.js")"></script>

@*设置navigator中的标签为active*@
<script type="text/javascript">
    $(function () {
        $("#PassWord").addClass("active");

        $("form").validity(function () {
            $("#forePw")
                        .require('请输入前密码<br/><span class="must_symbal">*必填</span>')

            $(".newPw1")
                        .require('请输入新密码<br/><span class="must_symbal">*必填</span>')
            $(".newPw2")
                        .require('请输入新密码<br/><span class="must_symbal">*必填</span>')
        });

//        function isEqual(str1, str2) {
//            if (str1 == str2)
//                return true;
//            else return false;
//        }

//        function raise($obj, msg) {
//            var pos = $obj.offset();
//            pos.left += $obj.width() + 18;
//            pos.top += 0;

//            $(
//                "<div class=\"validity-tooltip\">" +
//                    msg +
//                    "<div class=\"validity-tooltip-outer\">" +
//                        "<div class=\"validity-tooltip-inner\"></div>" +
//                    "</div>" +
//                "</div>"
//            )
//                .click(function () {
//                    $obj.focus();
//                    $(this).fadeOut();
//                })
//                .css(pos)
//                .hide()
//                .appendTo("body")
//                .fadeIn();
//        }

//        $(".newPw2").blur(function () {
//            var str1 = $(".newPw1").val();
//            var str2 = $(".newPw2").val();

//            var isEqual = isEqual(str1, str2);

//            if (!isEqual) {
//                raise(this, "第二次输入的修改密码与修改密码不一致，请重新填写");
//            }
//        })


    })     
</script>

<div class="tab-pane active" id="tab4">
	<div class="post_qiugou">
		<div class="post_qiugou_inner">
			@using (Html.BeginForm("PassWord", "Info", FormMethod.Post)) {
				<table>
					<tbody>
						<tr>
                            <td class="c13">修改密码</td>
                            <td>
                                
                            </td>
                        </tr>
						<tr>
                            <td class="c20">当前密码：</td>
                            <td>
                                @Html.PasswordFor(m => m.forePw, new { @class = "forePw"})
                            </td>
                        </tr>
						<tr>
                            <td class="c20">新密码：</td>
                            <td>
                                @Html.PasswordFor(m => m.newPw, new { @class = "newPw1"})
                            </td>
                        </tr>
						<tr>
                            <td class="c20">确认密码：</td>
                            <td>
                                @Html.PasswordFor(m => m.newPw, new { @class = "newPw2" })
                            </td>
                        </tr>
						<tr>
                            <td class="c20">
                                <input type="submit" value="保存" />
                            </td>
                            <td class="c22">
                                <a href="#">取消修改</a>
                            </td>
                        </tr>
					</tbody>
				</table>	
            }
		</div>
	</div>
</div>
