@model findbook.WebUI.Models.XYView
<li><a href="#">·&nbsp;&nbsp;管理学院</a> <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;经济学院</a>
    <ul>
        <li><a href="#">信息管理与信息系统</a></li>
        <li><a href="#">工商管理</a></li>
        <li><a href="#">财务管理</a></li>
        <li><a href="#">会计</a></li>
        <li><a href="#">劳动与社会保障</a></li>
        <li><a href="#">国际经济与贸易</a></li>
        <li><a href="#">经济学</a></li>
        <li><a href="#">金融学</a></li>
        <li><a href="#">电子商务</a></li>
    </ul>
</li>
