@model findbook.Domain.Entities.LeaveComments

@{
    string dateDiff = Model.DateDiff(Model.lcTime) + "前";       
}        
<li>
	<img class="hr1" src="../../Content/Images/web/hr.gif" width="580px"/>
	<div class="user_comment_img">
		<a href="#" target="_blank"><img src="../../Content/Images/users/author.jpg" width="40px" height="40px"/></a>		
	</div>
	<div class="user_comment_content">
		<a href="#" target="_blank">@Model.lUserName</a>
		<p class="comment_content">@Model.lBody</p>
		<p class="comment_content_time">@dateDiff</p>
	</div>
	<div class="agree">
		<a href="#"><img src="../../Content/Images/web/recommend_ico.png" width="16px" height="16px"/><span>10</span></a>
	</div>
</li>

