@model findbook.Domain.Entities.SystemMessages
           
<li>
    <span>
        @Model.smBody
    </span>
    <span>
        <a id="Read" href="@Model.href">@Model.href</a>
    </span>
    <br />
    <span>
        @Model.sTime
    </span>
</li>