@model findbook.Domain.Entities.SystemMessages

<script type="text/javascript">
    $(function () { 
        $("#unRead").bind("click", function(){
            var x = "<%=@Model.MarkReaded(Model.sysMesID)%>"
        })
    })
</script>

<li>
    <span>
        @Model.smBody
    </span>
    <span>
        <a id="unRead" href="@Model.href">@Model.href</a>
    </span>
    <span>
        @Model.sTime
    </span>
</li>