@model findbook.Domain.Entities.SystemMessages

<li>
    <span>
        @Model.smBody
    </span>
    <span>
        <a href="@Model.href">@Model.href</a>
    </span>
    <span>
        @Model.sTime
    </span>
</li>