@model findbook.Domain.Entities.Wanted

<li>
    <span class="askfor_purchase_author_name">@Model.userName</span>求购
    <span class="askfor_purchase_book">@Model.bookName</span>
    <span class="askfor_purchase_account">@Model.num</span>本
</li>
