@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>出错啦</title>
<link href="../../Content/style.css" rel="stylesheet" type="text/css" />
<link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
<!--关闭最上层-->
<script type="text/javascript">
    function turnoff(obj) {
        document.getElementById(obj).style.display = "none";
    }
</script>
<style type="text/css">
.error_center{

padding-left:60px;
padding-right:60px;
width:840px;
padding-top:40px;
}
.number_div{
font-size:120px;
color: #999;
font-weight:bold;
float:left;
}
.book_border_1,.book_border_3,.book_border_5{
border:2px solid #ccc;
border-top:none;
}
.book_border_1{
border-top:2px solid #ccc;
text-align:center;
}
.book_border_1:before{
content:"";
position:absolute;
color:#ccc;
height:554px;
border:1px solid #ccc;
box-shadow:0px 0px 30px #000;
}
.book_border_2,.book_border_4,.book_border_6{
border:2px solid #fff;
border-top:none;
background:#fff url(../../Content/Images/web/linedpaper.png) repeat;
}
.book_border_6{
padding:0 16px;
}
.half_left{
width:50%;
float:left;
}
.half_right{
width:38%;
float:left;
padding:50px 30px 30px 55px;
text-indent:2em;
text-align:left;
}
</style>
</head>

<body>
<!--[if lt IE 7]>
<div style="width:960px;margin:0 auto;"><div><span>您的IE浏览器版本过低，请升级您的浏览器至IE8+，以享受更优质的浏览效果！:)</span></div></div>
<![endif]-->
<!--=========================================footer==========================================-->
<div class="footer">
	<div class="footer_content error_center">
		<div class="book_border_1">
			<div class="book_border_2">
				<div class="book_border_3">
					<div class="book_border_4">
						<div class="book_border_5">
							<div class="book_border_6">
								<div class="half_left">
									<div class="number_div">4</div><div class="number_div">0</div><div class="number_div">4</div>
									<div class="clear"></div>
									<div style=" font-family:'微软雅黑'; font-size:36px; color:#999;">翻书网</div>
									<div style=" font-family:'微软雅黑'; font-size:16px; color:#999; letter-spacing:1px;">不小心就出错了>_<<br/>休息一下再回来吧^_^</div>
									
								</div>
								<div class="half_right">
									<div style=" font-family:'微软雅黑'; font-size:16px; color:#999; letter-spacing:1px;">
<p>翻书网是由武汉理工大学管理学院信息管理与信息系统专业三位同学组成的团队合作开发完成的，从最初网站的构想到最终网站的上线历时接近一年。 翻书网从大学生自身需求的角度出发，致力于为在校学生提供便利的服务是网站的宗旨。</p>
<p>希望同学们能够在翻书网找到自己所需要的书籍。</p>
<br /><br /><br /><br /><br /><br /><br />
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Findbook团队</p>
									</div>
								</div>
								<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br /><br /><br /><br /><br /><br />
</div>
</body>
</html>
