@model List<findbook.WebUI.Models.DealBook>

@{
    ViewBag.Title = "我买的";
    Layout = "~/Views/Shared/_PurchaseLayout.cshtml";
}

@*设置navigator中的标签为active*@
<script type="text/javascript">
    $(function () {
        $("#Purchased").addClass("active")
    })     
</script>

<div class="tab-pane active" id="tab5">
	<div class="my_message">
         <div class="clear"></div>
		<p class="c21">我买的<br />已完成的交易</p>
		<br />
		<div>
			<ul>
				@foreach (var m in Model) {
                    Html.RenderPartial("DealBook", m);
                }
			</ul>
		</div>
	</div>
</div>