@{
    ViewBag.Title = "关于我们";
}

<div class="content">
	<div class="book_search">
		<div class="aboutus_nav">
			<ul>
				<li><a href="#about_01">关于我们</a></li>
				<li><a href="#about_02">常见问题</a></li>
				<li><a href="#about_03">免责声明</a></li>
				<li><a href="#about_04">友情链接</a></li>
				<li><a href="#about_05">联系我们</a></li>
				<li><a href="#about_06">微博</a></li>
			</ul>
		</div>
		<div class="aboutus_info">
			<div>
				<p class="about_title" id="about_01">关于我们</p>
				<p class="about_info">
                    翻书网由武汉理工大学管理学院信息管理与信息系统专业三位同学组成的团队合作开发完成，从最初网站的构想到最终网站的上线历时接近一年。
                    翻书网从大学生自身需求出发，致力于为在校学生提供便利的服务是网站的宗旨。由于比赛时间紧张，网站还有许多细节需要完善，欢迎网友提出意见和建议，谢谢！

                </p>
			</div>
			<div>
				<p class="about_title" id="about_02">常见问题</p>
				<p class="about_info">
                    问：任何人都可以进行图书信息的发布吗？<br/>
                    答：必须进行注册登录才可以使用网站的功能，目前只是针对武汉理工大学在校学生，网站完善之后会逐步开放用户群体<br />
                    <br />
                    问：怎么进行图书交易呢？<br />
                    答：为保证商品交易的安全性，所有商品进行线下交易。买卖双方线上达成交易后由双方线下交易<br />
                    <br />
                    问：怎样修改已经上传的图书信息？<br />
                    答：在用户主页可以进行图书信息的修改和删除<br />
                    <br />
                    问：怎样查看有用户想购买自己的图书？<br />
                    答：如果有用户想购买图书会点击“购买”按钮，系统自动为卖家发送一条私信。卖家可在消息模块看到提示，并进一步与买家交流。
                </p>
			</div>
			<div>
				<p class="about_title" id="about_03">免责声明</p>
				<p class="about_info">
                    1.本站所展示的信息由学生自行提供，内容的真实性、准确性和合法性由发布用户负责。翻书网对此不承担任何保证责任。<br />
                    2.如果本站产品侵犯您的版权或者非用户授权发布，请联系翻书网(moriarty0405@gmail.com),我们会在24小时内审核处理。<br />
                    3.用户留言评论代表使用该网站用户的个人观点，如果有不需要显示的留言或评论，用户可以自行删除，或者联系翻书网管理员(moriarty0405@gmail.com)删除。<br />
                    4.翻书网只提供图书信息，一切交易将视为客户自行自愿交易，对交易风险由交易双方自行负责，翻书网对此不承担任何保证责任。
                </p>
			</div>
			<div>
				<p class="about_title" id="about_04">友情链接</p>
				<p class="about_info">
                    <a href="http://zzw.whutmis.com">找找网</a>&nbsp;&nbsp;&nbsp;一个致力于寻物启事的网站
                </p>
			</div>
			<div>
				<p class="about_title" id="about_05">联系我们</p>
				<p class="about_info">
                    如有任何问题，欢迎向我们反映。<br />
                    邮箱:moriarty0405@gmail.com&nbsp;&nbsp;&nbsp;QQ:405374012
                </p>
			</div>
			<div>
				<p class="about_title" id="about_06">微博</p>
				<p class="about_info">
                    徐施福:<a href="http://weibo.com/u/2665148623">Moriarty_Xu</a><br />
                    洪志坤:<a href="http://weibo.com/dapumusai">HomeChicken</a><br />
                    杜新锋:<a href="http://weibo.com/u/1985160847">Gala沙漠的锋</a>
                </p>
			</div>
		</div>
	</div>
</div>
