@{
    ViewBag.Title = "Find";
}

<div class="content">
	<!--左边-->
	<div class="find_page">
		<div class="find_page_title">
			<h3>发现</h3>
			<div style="border-bottom:2px solid #21de0c; padding-top:4px;"></div>
		</div>
		<div class="find_area">
			<ul>
				<li>
					<div class="find_touxiang"><a href="#" target="_blank"><img src="images/author.jpg" alt=""/></a></div>
					<div class="find_info">
						<div class="find_info_name"><a href="#" target="_blank">Jone</a></div>
						<div class="find_info_detail">
							<p>找到了<a href="#" target="_blank" class="book_name">大学英语4</a></p>
							<p><img src="images/img_roll1.jpg"/></p>
							<p class="find_info_sixin_ta"><a href="#" target="_blank">私信Ta</a>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">到Ta的主页看看</a></p>
						</div>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<div class="find_touxiang"><a href="#" target="_blank"><img src="images/author.jpg" alt=""/></a></div>
					<div class="find_info">
						<div class="find_info_name"><a href="#" target="_blank">Jone</a></div>
						<div class="find_info_detail">
							<p>求购<span class="book_name_02">大学英语4</span></p>
							<p class="find_info_sixin_ta"><a href="#" target="_blank">私信Ta</a>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">到Ta的主页看看</a></p>
						</div>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<div class="find_touxiang"><a href="#" target="_blank"><img src="images/author.jpg" alt=""/></a></div>
					<div class="find_info">
						<div class="find_info_name"><a href="#" target="_blank">Jone</a></div>
						<div class="find_info_detail">
							<p>上传了<a href="#" target="_blank" class="book_name">大学英语4</a></p>
							<p><img src="images/img_roll1.jpg"/></p>
							<p class="find_info_sixin_ta"><a href="#" target="_blank">私信Ta</a>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">到Ta的主页看看</a></p>
						</div>
					</div>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
	</div>
	
	<!--右边-->
	<div class="hot_user">
		<div class="hot_user_title"><h3>热门用户</h3></div>
		<div class="hot_user_users">
			<ul>
				<li>
					<div class="hot_user_users_touxiang"><a href="#" target="_blank"><img src="images/author.jpg"/></a></div>
					<div class="hot_user_users_info">
						<p><a href="#" target="_blank" class="hot_user_users_info_name">Jone</a></p>
						<p><span>管理学院</span>&nbsp;&nbsp;&nbsp;<span>信管...</span></p>
						<p class="hot_user_users_info_name"><a href="#" target="_blank">私信</a></p>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<div class="hot_user_users_touxiang"><a href="#" target="_blank"><img src="images/author.jpg"/></a></div>
					<div class="hot_user_users_info">
						<p><a href="#" target="_blank" class="hot_user_users_info_name">Jone</a></p>
						<p><span>管理学院</span>&nbsp;&nbsp;&nbsp;<span>信管...</span></p>
						<p class="hot_user_users_info_name"><a href="#" target="_blank">私信</a></p>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<div class="hot_user_users_touxiang"><a href="#" target="_blank"><img src="images/author.jpg"/></a></div>
					<div class="hot_user_users_info">
						<p><a href="#" target="_blank" class="hot_user_users_info_name">Jone</a></p>
						<p><span>管理学院</span>&nbsp;&nbsp;&nbsp;<span>信管...</span></p>
						<p class="hot_user_users_info_name"><a href="#" target="_blank">私信</a></p>
					</div>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
	</div>
</div>
