@model findbook.WebUI.Models.Account.FindView

@{
    ViewBag.Title = "发现";
}

<div class="content">
	<!--左边-->
	<div class="find_page">
		<div class="find_page_title">
			<h3>发现</h3>
			<div style="border-bottom:2px solid #21de0c; padding-top:4px;"></div>
		</div>
		<div class="find_area">
			<ul>
				@*<li>
					<div class="find_touxiang"><a href="#" target="_blank"><img src="images/author.jpg" alt=""/></a></div>
					<div class="find_info">
						<div class="find_info_name"><a href="#" target="_blank">Jone</a></div>
						<div class="find_info_detail">
							<p>找到了<a href="#" target="_blank" class="book_name">大学英语4</a></p>
							<p><img src="../../Content/Images/web/img_roll1.jpg"/></p>
							<p class="find_info_sixin_ta"><a href="#" target="_blank">私信Ta</a>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">到Ta的主页看看</a></p>
						</div>
					</div>
					<div class="clear"></div>
				</li>
				<li>
					<div class="find_touxiang"><a href="#" target="_blank"><img src="images/author.jpg" alt=""/></a></div>
					<div class="find_info">
						<div class="find_info_name"><a href="#" target="_blank">Jone</a></div>
						<div class="find_info_detail">
							<p>求购<span class="book_name_02">大学英语4</span></p>
							<p class="find_info_sixin_ta"><a href="#" target="_blank">私信Ta</a>&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">到Ta的主页看看</a></p>
						</div>
					</div>
					<div class="clear"></div>
				</li>*@

				@foreach (var m in Model.Books) {
                    Html.RenderPartial("Find_postBooks", m);
                }
			</ul>
		</div>
	</div>
	
	<!--右边-->
	<div class="hot_user">
		<div class="hot_user_title"><h3>热门用户</h3></div>
		<div class="hot_user_users">
			<ul>
				@foreach (var m in Model.Users) {
                    Html.RenderPartial("Find_popularUsers", m);
                }
			</ul>
		</div>
	</div>
</div>

