@{
    ViewBag.Title = "注册成功";
}

<div class="content">
	<div class="loginbg">
		<div class="login_div">
			<div class="login">
				<span>注册成功！</span>
				<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
				<div style="width:50%; float:left;">
					<br />
					<p style="font-family:'微软雅黑'; font-size:16px;">
					恭喜你，已经成功注册翻书网账号!<br />快点来开启你的翻书之旅吧^_^	
					</p>
					<p><a href="/Account/LogOn" style=" text-decoration:none; font-size:18px;font-family:'微软雅黑';">>>登录</a></p>
				</div>
				<div class="cg_bg"></div>
			</div>	
		</div>
	</div>
</div>
