
.l_nav_div
{
    width:960px;
    margin:0 auto;
    margin-top:25px;
}

/*左边导航*/
.l_nav_div div.left_nav_div{
float:left;
box-shadow:0 1px 2px #ccc;
margin-right:10px;
display:block;
zoom:1;
}
.l_nav_div div.detail_nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 230px; /* Width of Menu Items */
  border-bottom: 1px solid #ccc;
  }
.l_nav_div div.detail_nav ul li {
  position: relative;
  padding: 8px 20px;
border-top: 1px solid #eee; /* IE6 Bug */
border-left: 1px solid #21de0c;
border-right: 1px solid #21de0c;
border-bottom: 0;
  }
  .college_list_title{
  background:#21de0c;
  color:#fff;
  font-weight:bold;
  font-size:14px;
  border-top:0;
  }
.detail_nav li ul{
  position: absolute;
  left: 229px; /* Set 1px less than menu width */
  top: -1px;
  display: none;
  background:#fff;
  z-index:100;
  }
  /* Styles for Menu Items */
.detail_nav ul li a {
  display: block;
  text-decoration: none;
color: #777;
font-size:16px;
font-family:"微软雅黑";
display:inline;
  }
.detail_nav ul li a:hover{
color:#21de0c;
}
  /* Holly Hack. IE Requirement \*/
/** html ul li { float: left; height: 1%; }*/
/** html ul li a { height: 1%; }*/
/* End */
.detail_nav li:hover ul,.detail_nav li.over ul{ display: block; } /* The magic */
/*头部滚动大图*/
.img_roll{
/*height:434px;*/
padding:10px 0 0px 0;
float:left;
}
.container {
	width: 708px;
    /*height:434px;*/
	padding: 0;
	margin: 0 auto;
}
.folio_block {
width: 708px;
 /*height:434px;*/
}


/*--Main Container--*/
.main_view {
	float: left;
	position: relative;
}
/*--Window/Masking Styles--*/
.window {
	height:480px;	width: 708px;
	overflow: hidden; /*--Hides anything outside of the set width/height--*/
	position: relative;
}
.image_reel {
	position: absolute;
	top: 0; left: 0;
}
.image_reel img {float: left;}

/*--Paging Styles--*/
.paging {
	position: absolute;
	bottom: 10px; right: -25px;
	width: 178px; height:47px;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	line-height: 40px;
	display: none; /*--Hidden by default, will be later shown with jQuery--*/
}
.paging a {
	padding: 4px;
	text-decoration: none;
	color: #fff;
}
.paging a.active {
	font-weight: bold; 
	background: #21de0c; 
	border: 1px solid #fff;
}

<!--图书搜索后的页面-->
<!--图书-->
.book_search{
width:960px;
margin:0 auto;
padding:20px;
background:#fff;
margin-top:40px;
border:1px solid #eee;
}
.book_search_title
{
    padding-top:50px;
}
.book_search_title a{
text-decoration:none;
color: #21de0c;
float:left;
padding-right:10px;
}
.book_search_title a:hover{
text-decoration: underline;
}
.book_area ul li{
border-bottom:1px solid #eee;
}
.book_area ul li img{
border:0;
width:140px;
height:180px;
}
.c23{
border:1px solid #eee;
padding:10px;
width:140px;
height:200px;
margin:10px 60px 10px 10px;
float:left;
overflow:hidden;
}
.c24{
padding-top:10px;
font-size:14px;
color:#666;
padding-right:80px;
float:left;
}
.c26 label strong{
color:#21de0c;
font-size:17px;
padding-right:10px;
}
.c27{
color:#21de0c;
padding:0 4px;
}
.c28 a{
text-decoration:none;
color:#21de0c;
}
.c28 a:hover{
text-decoration: underline;
}
.c29 label{
color:#21de0c
}
.c29 a{
color:#999;
text-decoration:none;
padding-left:4px;
padding-right:8px;
font-size:14px;
}
.c29 a:hover{
color:#666;
}
.c30{
border-left:1px solid #eee;
float:left;
padding-left:50px;
margin-top:80px;
}
.c30 input[type=button]{
border:0;
background:#21de0c;
padding:5px 18px;
color:#fff;
font-weight:bold;
margin-top:10px;
box-shadow:0 1px 2px #999;
-moz-box-shadow:0 1px 2px #999;
-webtik-box-shadow:0 1px 2px #999;
}
.c30 input[type=button]:hover{
cursor:pointer;
opacity:0.8;
}
.c30 input[type=button]:active{
box-shadow:0 1px 2px #999 inset;
-moz-box-shadow:0 1px 2px #999 inset;
-webtik-box-shadow:0 1px 2px #999 inset;
}
/*用户*/
.c31{
border:1px solid #eee;
padding:10px;
width:140px;
margin:10px 60px 10px 10px;
float:left;
}
.c32{
padding-top:10px;
font-size:14px;
color:#666;
padding-right:80px;
float:left;
}
.c33{
padding-right:4px;
}
.c34 a{
color:#21de0c;
text-decoration:none;
}
.c34 a:hover{
text-decoration: underline;
}