@model findbook.WebUI.Models.PrivateView

@{
    ViewBag.Title = "私信";

    ////从cookie中获取userID
    //HttpCookie cookie = Request.Cookies["user"];
    //string userID = cookie["userID"].ToString();

    //从Session中获取userID
    string userID = Session["logOnUserID"].ToString();

    var User = Model.Privates.FirstOrDefault();
    string rUserID = User.rUserID;
    string rUserName = User.rUserName;
    
    if (rUserID.Equals(userID)) {
        rUserID = User.sUserID;
        rUserName = User.sUserName;
    }

    //将接受用户的信息写入Session
    Session["rUserID"] = rUserID;
    Session["rUserName"] = rUserName;

}

<script src="../../Scripts/MicrosoftAjax.js" type="text/javascript"></script>  
<script src="../../Scripts/MicrosoftMvcAjax.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>

<script type="text/javascript">
//    $(function () {
//        function long_polling() {
//            $.getJSON('/PrivateComet/LongPolling', function (data) {
//                //如果收到的私信不为空
//                if (data) {
//                    var sUserID = data.sUserID;
//                    var userImgPath = '../../Content/Images/users/' + sUserID + '.jpg';
//                    var pagePath = 'Page/List/' + sUserID;
//                    
//                    //向页面前追加
//                    $('#partialContainer').prepend("<li>"
//                    + "<img class='hr1' src='../../Content/Images/web/hr.gif' width='580px'/>"
//                    + '<div class="user_comment_img">'
//                    + '<a href='+ pagePath + '><img src=' + userImgPath + ' width="40px" height="40px"/></a></div>'
//                    + '<div class="user_comment_content">'
//                    + '<a href=pagePath>' + data.sUserName +'</a>'
//                    + '<p class="comment_content">' + data.pmBody + '</p>'
//                    + '<p class="comment_content_time">' + data.sTime + '</p></div>'
//                    + '<div class="comment_content_reply">'
//                    + '<a href="#" target="_blank">回复</a>|'
//                    + '<a href="#">删除</a></div></li>')
//                }
//                long_polling();
//            });
//        }
//        long_polling();
    //    });

    function next() {
        var str = $("#pmBody").val();
        if ( str.length <= 0) {
            window.location.href = "http://localhost:6110/Private-Detail/" + @rUserID;
        } 
    }

    $(function () {//间隔3s自动加载一次  
        window.setInterval(next, 5000); 
    });
    
</script>

<div class="content">
	<!--私信-->
	<div class="sixin">
		<p>
            @*<a href="#" target="_blank">《返回私信首页</a>*@
            @Html.RouteLink("<<返回私信首页", new {
                                        Controller = "Private",
                                        Action = "List",
                                        userID = userID
                                    })
        </p>
		<p><span class="c05">发私信给</span><span class="c06">@rUserName</span>:</p>
		<div class="comment_box">
			@using (Ajax.BeginForm("SendPrivate", 
                        new { 
                            Controller = "Private", Action = "SendPrivate",
                            sUserID = userID, rUserID = Session["rUserID"]
                        }, 
                        new AjaxOptions { UpdateTargetId = "target" })) {
				<textarea rows="6" cols="93" name="pmBody" id="pmBody"></textarea>
				<input type="submit" value="发送"></input>
			}
		</div>
	</div>
	<div class="comment_zone">
		<div class="comment_zone_inner" id="partialContainer">
			<!--评论-->
			<ul>
                @foreach (var m in Model.Privates) {
                    //发给我的私信
                    if (m.rUserID.Equals(userID)) {
                        Html.RenderPartial("ReceivedPrivateDetail", m);
                    } else {                      
                        //显示我发出的私信
                        Html.RenderPartial("SentPrivateDetail", m);
                    }
                    
                }
			</ul>

            <div class="pager">
                @*@Html.AjaxPageLinks(Model.LC, x => Url.Action("List", new { page = x }), 3, "LeaveComments")*@
                @Html.PageLinks(Model.PD, x => Url.Action("DetailList", new { page = x }))
            </div>
		</div>
	</div>

    
</div>
